
.checkBox {
    width: 14px;
    height: 14px;
    margin: 5px;
    cursor: pointer;
}

.checkBox:checked {
    background-image: url("https://raw.githubusercontent.com/DGStach/smart-brain-app/master/src/components/checkBoxMark.png");
    background-size: 13px 13px;
    background-position: center;
    background-color: black;
}
.CheckBoxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}