.App {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.checkBox {
    width: 14px;
    height: 14px;
    margin: 5px;
    cursor: pointer;
}

.checkBox:checked{

    background-image: url("https://png2.cleanpng.com/sh/42abe30c8fbd88ace31c402a7aa896db/L0KzQYm3VMA0N5d2j5H0aYP2gLBuTfNpbZRwRd9qcnuwdb72ivkua5DyiOd9ZYKwebT2jwMubZ50jNtsb36wc73wkL1ieqUyjNtsaz24cbS6hvVlPJY5S6hqNT62RIK8UMQzOWI6SqQCOUS0SYeCU8Q5NqFzf3==/kisspng-check-mark-emoji-computer-icons-emoticon-clip-art-tick-5ac3fed4e436a5.3415042115227941969348.png");
    background-size: 13px 13px;
    background-position: center;
    background-color: black;
}
